@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import 'styles/reset.scss';


body {
  background: rgb(85,85,85);
  // background: linear-gradient(red, orange);
    // background-image: linear-gradient(to top, #051937, #1c223a, #2c2d3d, #393841, #444444);
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  width: 100%;


}

.App {
    // position: absolute;
    // top: 30%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
  
    width: 30rem;
    min-width: 30vw;

  text-align: center;
  
  
  .app-hub {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 5vmin 0;
        padding: 3vmin;
  
        border-radius: 10px; 
        background-color: #50B4F2;

        -webkit-box-shadow: 10px 14px 24px 0px rgba(0,0,0,0.48);
        -moz-box-shadow: 10px 14px 24px 0px rgba(0,0,0,0.48);
        box-shadow: 10px 14px 24px 0px rgba(0,0,0,0.48);

        .login-container {


          h1 {
            margin: 2vmin 0;
            font-size: calc(18px + (24 - 18) * ((100vw - 300px) / (1800 - 300)));
            line-height: calc(18px + (28 - 18) * ((100vw - 300px) / (1800 - 300)));
            color: #fff;
          }

          .google-login {
            width: 20rem;
            padding: 10vmin;

          }
          
          
    }       

    .welcome-text {
        margin: 1vmin 0 0 0;
        font-family: 'Noto Sans', sans-serif;
        font-size: calc(18px + (24 - 18) * ((100vw - 300px) / (1800 - 300)));
        line-height: calc(18px + (28 - 18) * ((100vw - 300px) / (1800 - 300)));
        font-weight: 700;
        color: #034873;
    }

        .budget-input {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-content: center;
        
              // margin: 2vmin;
              // padding: 3vmin;
        
              // border-radius: 10px; 
              // background-color: #0568a6;
        
            label {
              margin: 2vmin 0 0 0;
        
              font-size: calc(18px + (32 - 18) * ((100vw - 300px) / (1800 - 300)));
              line-height: calc(22px + (36 - 22) * ((100vw - 300px) / (1800 - 300)));
        
        
              color: #fff;
            }
        
            input {
              margin: 1vmin auto;
              padding: 1vmin 2vmin;
        
              font-size: calc(18px + (32 - 18) * ((100vw - 300px) / (1800 - 300)));
              line-height: calc(22px + (36 - 22) * ((100vw - 300px) / (1800 - 300)));
              text-align: right;
        
              border-radius: 10px;
          }
        }

}
}

.expense-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}



.header-text {
  font-family: 'Noto Serif', serif;
  font-size: calc(28px + (64 - 28) * ((100vw - 300px) / (1800 - 300)));
  line-height: calc(32px + (68 - 32) * ((100vw - 300px) / (1800 - 300)));
  color: #fff;
}



.expense-savings {
    height: 100px;
  background-color: green;
}

input[type="text"] {
  width: 12rem;

  color: red;
}

