@import 'styles/reset.scss';


body {
  background-color: #f2f2f2;
}

#root {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  width: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;

  max-width: 50vw;
  text-align: center;

  .budget-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  margin: 2vmin;
  padding: 3vmin;

  border-radius: 10px; 
  background-color: #0568a6;

  label {
    margin: 2vmin 0 0 0;

    font-size: calc(18px + (32 - 18) * ((100vw - 300px) / (1800 - 300)));
    line-height: calc(22px + (36 - 22) * ((100vw - 300px) / (1800 - 300)));


    color: #fff;
  }

  input {
    margin: 1vmin auto;
    // min-width: 30rem;
    padding: 1vmin 2vmin;

    font-size: calc(18px + (32 - 18) * ((100vw - 300px) / (1800 - 300)));
    line-height: calc(22px + (36 - 22) * ((100vw - 300px) / (1800 - 300)));

    border-radius: 10px;
  }
}
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.header-text {
  color: red;
  font-size: 5rem;
}



.expense-savings {
    height: 100px;
  background-color: green;
}

input[type="text"] {
  width: 12rem;

  color: red;
}